.resources-page .swiper {
    width: 100%;
    height: 100%;
}

.resources-page .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.resources-page .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* body {
    background: #000;
    color: #000;
  } */

.resources-page .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -120;
}

.resources-page .swiper-slide {
    background-size: cover;
    background-position: center;
}

.resources-page .mySwiper2 {
    height: 80%;
    width: 100%;
}

.resources-page .mySwiper {
    height: 20%;
    box-sizing: border-box;
    /* padding: 10px 0; */
}

.resources-page .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.resources-page .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.resources-page .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}